<span class="shadow"></span>
<main class="main">
    <div class="content__fluid content__banner">
        <div class="content__banner--overlay"></div>
        <div class="content__banner--text-content">
            <h1>Conheça uma de nossos planos agora!</h1>
            <h2>Temos planos para seu tablet, computador e para sua casa!!! Escolha o plano que cabe no seu bolso!</h2>
        </div>
    </div>
    <div class="container-fluid content__darkgray">
        <div class="platforms row">
            <h2 class="center white">Selecione uma plataforma</h2>
                <div class="center platform__item col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let platform of platforms">
                    <figure (click)="getPlans(platform)">
                        <img [src]="images[platform.sku]" alt="{{ platform.nome }}" width="100%" rel="preload">
                        <figcaption>{{ platform.nome }}</figcaption>
                    </figure>
                </div>
            <br>
            <div [ngClass]="{'hide': hide_preload_platforms==true, 'show': hide_preload_platforms==false}" class="preloader show">
                <img src="assets/img/preloader.gif" alt="Carregando.">
                <p>Carregando</p>
            </div>
        </div>

        <div id="planArea"></div>
        <div [ngClass]="{'hide': hide_plans==true, 'show': hide_plans==false}" class="hide row plans">
            <h2 class="center white">{{platform_selected}} - Selecione um plano</h2>
            <ngx-slick-carousel class="center carousel" 
                #slickModalPlans="slick-carousel" 
                [config]="slideConfig">
                <div ngxSlickItem *ngFor="let plan of plans; let i=index">
                    <span class="box" [ngClass]="{'hide': plan.ativo==false, 'show': plan.ativo!=true}" >
                        <span class="box__element">
                            <span class="box__element--plan">Plano {{plan.franquia}}</span>
                            <span class="box__element--value">
                                <span class="box__element--vertical box__element--info">
                                    <span class="price">R$ {{plan.valor}}</span>
                                    <span *ngIf="plan.aparelho !== undefined">
                                        <ul class="center">
                                            <li>Instalação do {{plan.aparelho.nome}} por R$ {{plan.aparelho.valor}}</li>
                                        </ul>
                                        <span class="parcel red" *ngIf="plan.aparelho.valorParcela != false">Em até {{plan.aparelho.numeroParcelas}}x de R$ {{plan.aparelho.valorParcela}}</span>
                                    </span>
                                </span>
                            </span>
                            <button (click)="sendData(plan)" type="button" class="button box__element--purchase">Adquirir</button>
                        </span>
                    </span>
                </div>
            </ngx-slick-carousel>
            <div [ngClass]="{'hide': hide_preload_plans==true, 'show': hide_preload_plans==false}" class="preloader hide">
                <img src="assets/img/preloader.gif" alt="Carregando.">
                <p>Carregando</p>
            </div>
        </div>
    </div>
</main>