<span class="shadow"></span>
<main class="main">
    <div class="content__fluid content__banner">
        <div class="content__banner--overlay"></div>
        <div class="content__banner--text-content">
            <h1>Conheça uma de nossos planos agora!</h1>
            <h2>Temos planos para seu tablet, computador e para sua casa!!! Escolha o plano que cabe no seu bolso!</h2>
        </div>
    </div>
    <div class="container-fluid content__darkgray">
        <div class="platforms row">
            <h2 class="center white">Selecione uma plataforma</h2>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let platform of platforms">
                        <figure (click)="getPlans(platform.sku)">
                            <img [src]="platform.imagem" alt="{{ platform.nome }}" width="100%" rel="preload">
                        </figure>
                    </div>
                </div>
            </div>
            <br>
            <div [ngClass]="{'hide': hide_preload_platforms==true, 'show': hide_preload_platforms==false}" class="preloader show">
                <img src="../../../assets/img/preloader.gif" alt="Carregando.">
                <p>Carregando</p>
            </div>
        </div>

        <div [ngClass]="{'hide': hide_plans==true, 'show': hide_plans==false}" class="hide carousel row" id="plans">
            <h2 class="center white">Selecione um plano</h2>
            <ngx-slick-carousel class="center carousel" 
                #slickModalPlans="slick-carousel" 
                [config]="slideConfig">
                <div ngxSlickItem *ngFor="let plan of plans; let i=index">
                    <span class="box" [ngClass]="{'hide': plan.ativo==false, 'show': plan.ativo!=true}" >
                        <span class="box__element">
                            <span class="box__element--plan">Plano {{plan.franquia}}</span>
                            <span class="box__element--value">
                                <span class="box__element--vertical box__element--price">
                                    R$ {{plan.valor}}
                                    <ul *ngIf="KeyToFind(plan, 'aparelho')">
                                        <li>{{plan.aparelho.nome}}</li>
                                        <li>R$ {{plan.aparelho.valor}}</li>
                                        <li>Em até {{plan.aparelho.numeroParcelas}} de R$ {{plan.aparelho.valorParcela}}</li>
                                    </ul>
                                </span>
                            </span>
                            <button type="button" class="button box__element--purchase" (click)="sendData(plan)">Adquirir</button>
                        </span>
                    </span>
                </div>
            </ngx-slick-carousel>
            <div [ngClass]="{'hide': hide_preload_plans==true, 'show': hide_preload_plans==false}" class="preloader hide">
                <img src="../../../assets/img/preloader.gif" alt="Carregando.">
                <p>Carregando</p>
            </div>
        </div>
    </div>
</main>