<main class="main">
    <div class="container content__fullvh">
        <div class="row">
            <div class="center col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-4 col-md-4 col-md-4 col-lg-4 col-lg-4 fset-0 vertical__align">
                <h1>Obrigado!</h1>
                <p>Em breve um de nosso consultores entrará em contato com você!</p>
                <a class="button button--radius button--main" routerLink="/" alt="Voltar para a página inicial">Voltar para o início</a>
            </div>
        </div>
    </div>
</main>